body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFFFFF;
}
#topBar{
    height: 110px;
    width: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    background-color: #440473;
}

.hamburger{
    display: none !important;
}

nav{
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fb04cb;
    text-align: center;
}

#nav.scrolled{
    top: 10;
}

ul{
    list-style-type: none;
    display: inline-flex;
    font-family: sans-serif;
}

ul>a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #440473;
    font-weight: 600;
}

ul>a:hover{
    text-decoration: underline;
}

@media (max-width: 600px) {
    .navBar{
        display: none;
    }
    #topBar{
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    }
    #topBar p{
        display: none;
    }
    .hamburger{
        display: block !important;
        margin-top: 35px;
        font-size: 30px !important;
        margin-right: 20px;
        cursor: pointer;
    }
    #visit{
        font-size: 50px !important;
    }
    #note{
        font-size: 18px !important;
    }
    #topBar.scrolled{
     top: 10;
}
}


.book-tourInfo{
    margin-left: 30px;
    margin-top: -100px;
}
.book-us>button{
    padding: 10px;
    width: 130px;
    margin-top: -10px;
    font-size: 15px;
    color: #fb04cb;
    border-style: none;
    border-radius: 20px;
}

.tourInfo{
    padding-top: 20px;
    background-color: #ebeaea !important;
    
}

#visit{
    font-size: 80px;
    font-weight: 700;
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif;
}

#note{
    font-size: 20px;
    margin-top: -25px;
    opacity: 0.5;
    margin-bottom: 80px;
}

@media (max-width: 768px){

    .tours {
        width: 80% !important;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        /* continue form filled */
    }
    .tourInfo{
        width: 71% !important;
        flex-direction: column;
        gap: 20px !important;
        height: auto !important;
        align-items: center;
        padding: 30px 10px !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        border-bottom-left-radius: 0px !important;
    }
    .tourImg{
        display: none;
    }
    .search{
        width: 75% !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: 20px !important;
    }
    .firstImgs{
        flex-direction: column;
        align-items: center;
    }
}

.tours{
    width: 88%;
    display: flex;
    gap: 0;
    align-items: center;
}


.tourInfo{
    width: 68%;
    height: 130px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#inputEnter{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#inputEnter label{
    font-size: 18px;
}

#inputEnter select{
    width: 200px;
    font-size: 14px;
    border: none;
    outline: none;
    opacity: 0.5;
}

#inputEnter input{
    width: 200px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #ebeaea;
}

.search{
    border: none;
    padding-left: 50px;
    cursor: pointer;
    height: 130px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #440473;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fa-magnifying-glass{
    padding-left: 25px;
    margin-bottom: 7px;
}

.keywords{
    background-color: #440473;
}

.book-us{
    margin-top: 200px;
}

.tourImg{
    width: 510px;
    height: 700px;
    margin: 250px 700px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
}

section{
    margin-top: 150px;
    text-align: center;
    height: auto;
    /* background-color: aqua; */
}

.allDestination h1{
    font-size: 50px;
}

.allDestination :nth-child(2){
    font-size: 19px;
    padding-bottom: 20px;
    color: rgb(128, 128, 128);
}

#moreDestination{
    width: 130px;
    margin: 0px auto;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    transition: border-bottom 0.3s ease;
}

#moreDestination:hover{
    border-bottom: 2px solid #4035d8;
}

.fa-solid{
    font-size: 12px;
    width: 20px;
    color: rgba(128, 128, 128, 0.5);
}

.hr{
    width: 130px;
    margin: 0px auto;
    border-top: 0.2em solid rgba(128, 128, 128, 0.5);
}

#imageSection{
    margin-top: 70px;
}

.firstImgs{
    gap: 30px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.egy{
    background-image: url("assets/img/egy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.can{
    background-image: url("assets/img/canada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.chn{
    background-image: url("assets/img/china.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.usa{
    background-image: url("assets/img/america.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.aus{
    background-image: url("assets/img/australia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.sa{
    background-image: url("assets/img/southAfrica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}

h6{
    width: 17%;
    height: 10%;
    font-size: 15px;
    padding-top: 7px;
    margin-left: 79%;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #440473;
}

.write{
    padding-top: 110px;
    /* background-color: #fb04cb; */
}

.pTours{
    display: flex;
    gap: 10px;
}

.popularTour p{
    padding-top: 80px;
    font-size: 50px;
    font-weight: 400;
}

@media (max-width: 600px) {
    #dub{
        margin: 0 auto;
    }
    #tur{
        display: none;
    }
    #fra{
        display: none;
    }
    #can{
        display: none;
    }
    #sou{
        display: none;
    }
    #usa{
        display: none;
    }
}

#dub{
    background-image: url("assets/img/burjkhalifadubai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#tur{
    background-image: url("assets/img/Cappadociaturkey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#fra{
    background-image: url("assets/img/eiffeltower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#can{
    background-image: url("assets/img/niagarafalls.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#sou{
    background-image: url("assets/img/southAfrica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
#usa{
    background-image: url("assets/img/statueofliberty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

.carousel1{
    display: flex;
    gap: 30px;
}

.carousel{
    display: flex;
    gap: 30px;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

#sm{
    width: 90px;
    font-size: 18px;
    margin: 0px auto;
    padding-top: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    transition: border-bottom 0.3s ease;
}

#sm:hover{
    border-bottom: 2px solid #4035d8;
}

#discover{
    margin-top: 100px;
    height: 330px;
    display: flex;
    justify-content: space-around;
}

.familyImg{
    background-image: url('assets/img/vacation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    border-radius: 20px;
}

.spanDis{
    display: block;
    margin-top: 70px;
    justify-items: left;
    margin-left: 35px;
}

.familyImg h3{
    color: white;
    font-size: 50px;
}

.familyImg p {
    color: white;
    font-size: 20px;
    margin-top: -20px;
}

.familyImg button{
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #440473;
}

#subscription{
    width: 550px;
    background-color: #F4F4F4;
    border-radius: 20px;
}

.subSec{
    display: block;
    justify-items: left;
    padding-left: 20px;
    margin-top: 80px;
}

.subSec h3{
    font-size: 33px;
}

.subSec p{
    font-size: 17px;
    color: grey;
}

.subButton{
    width: 370px;
    display: flex;
    position: relative;
    border-radius: 50px;
    background-color: white;
}

.subButton input{
    border: none;
    width: 270px;
    height: 50px;
    font-size: 13px;
    padding-left: 32px;
    border-radius: 50px;
    background-color: white;
}

.inputSub{
    display: flex;
    position: relative;
}

.inputSub i {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 14px;
}

.buttonSub{
    float: left;
}

.subButton button{
    border: none;
    height: 50px;
    width: 140px;
    color: white;
    border-radius: 50px;
    background-color: #440473;
}

.contactInfo{
    display: flex;
    margin-top: 40px;
    height: auto;
    padding: 80px 0px 80px 0px;
    text-align: left;
    justify-content: space-around;
}

.contactInfo i{
    margin-right: -80px;
    margin-top: 30px;
    font-size: 50px;
    color: #6e64f9;
}

.contactMes{
    display: block;
}

.contactMes h3{
    font-size: 25px;
}

.contactMes p{
    color: grey;
    font-size: 18px;
}

.contactUs{
    height: auto;
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    background-color: rgb(36, 35, 35);
    justify-content: space-around;
}

.contactUs img{
    padding-top: 20px;
}

.contact{
    text-align: left;
}

.contact h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.payment{
    text-align: left;
}

.payment h3{
    font-size: 25px;
    padding-bottom: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black !important;
    color: grey;
}

.footerNav{
    background-color: black !important;
}

.footerNav ul li{
    margin-right: 18px;
}

footer p{
    margin-right: 40px;
}



/* Destination Css */
/* #F3F3F5 */
.exploreDestination{
    width: auto;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color:#F3F3F5;
    text-align: center;
}

.exploreDestination h1{
    font-size: 90px;
    margin-bottom: -10px;
}

.exploreDestination p{
    color: grey;
    font-size: 20px;
    font-family: sans-serif;
}

#destinationImage{
    margin-top: 70px;
}

.desImgs{
    gap: 30px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.egypt{
    background-image: url("assets/img/egy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.canada{
    background-image: url("assets/img/canada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.china{
    background-image: url("assets/img/china.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.uSa{
    background-image: url("assets/img/america.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.australia{
    background-image: url("assets/img/australia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}
.southAfrica{
    background-image: url("assets/img/southAfrica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 570px;
    height: 450px;
    color: white;
    font-weight: 200;
    font-size: 25px;
    opacity: 0.9;
}

h5{
    width: 10%;
    height: 5%;
    font-size: 15px;
    padding-top: 7px;
    margin-left: 79%;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
    background-color: #440473;
}

.writee{
    padding-top: 290px;
    text-align: center;
    /* background-color: #fb04cb; */
}

/*Tour Group Section*/
.touristImg{
    background-image: url("../img/tourgroup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
}

.content1{
    position: absolute;
    font-size: 60px;
    color: white;
    font-weight: 200;
    top: 100px;
    left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.abtGuide{
    display: flex;
    flex-direction: column;
    /* text-align: left; */
}

.abtGuide h3{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
    color: #440473;
}

.desSearch{
    display: flex;
}

.searchDes{
    gap: 20px;
    background-color: red;
}
